{% extends "base.html" %}
{% block content %}
<h2>Register</h2>

<form method="post" class="row" style="margin-top:10px;">
  <div class="col">
    <label>Name</label>
    <input name="name" type="text" placeholder="Your name" autocomplete="name">
  </div>
  <div class="col">
    <label>Email</label>
    <input name="email" type="email" required autocomplete="email">
  </div>
  <div class="col">
    <label>Password</label>
    <input name="password" type="password" required autocomplete="new-password">
  </div>

  <div class="col" style="align-self:flex-end;">
    <button class="btn" type="submit">Create Account</button>
    &nbsp; <a href="{{ url_for('login') }}">Have an account? Login</a>
  </div>
</form>
{% endblock %}
